<div class=" bg-white px-4 md:px-9 pt-8">
    <img src="../../assets/logo.svg" alt="logo" class="h-9">
    <div class="flex flex-col gap-y-9 md:gap-y-16">
        <div class="flex flex-row flex-wrap gap-x-28 gap-y-8 mt-9  md:justify-between justify-normal items-start">
            <div class="flex flex-col">
                <p class="font-semibold text-xl">Oficina</p>
                <p class="text-base pt-4">Calle de la oficina, Mexico. </p>
                <p class="text-base pt-4">Teléfono</p>
                <p class="text-base">(55) 1234 567</p>
                <p class="text-base pt-4">Email</p>
                <p class="text-base">info@correoempresa.mx</p>
            </div>
            <div class="flex flex-col">
                <p class="font-semibold text-xl">Compañía</p>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Empresas</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Personas</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Nosotros</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Blog</a>
            </div>
            <div class="flex flex-col">
                <p class="font-semibold text-xl">Información</p>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Educación Financiera</a>
                    <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Tasas y Comisiones</a>
                        <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Descarga la App</a>
            </div>
            
            <div class="flex flex-col">
                <p class="font-semibold text-xl">Legal</p>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Avisos de privacidad</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Términos y condiciones</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Información financiera</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">UNE</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">CNBV</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">Buró</a>
                <a href="#" class="py-3 px-6 text-base font-semibold text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">CONDUSEF</a>
            </div>
        </div>
        <div class="flex flex-row flex-wrap gap-y-[3.75rem] pb-18">
            <div class="flex flex-col w-full md:w-auto">
                <p class="font-semibold text-lg">Suscríbete a nuestro newsletter.</p>
                <p class="pt-4 text-base font-normal">Las últimas noticias, actualizaciones, tips y más cada semana.</p>
            </div>
            <div class="flex flex-col md:flex-row gap-6 w-full md:w-auto md:mx-3.5 items-center">
                <input type="email" placeholder="Escribe tu correo aquí"
                    class="h-[2.625rem] md:h-12 px-3.5 md:px-6 font-medium text-base bg-american-silver rounded-md">
                <button
                    class="flex items-center h-[2.625rem] md:h-12 px-3.5 md:px-6 font-semibold text-sm text-white bg-regal-blue-800 hover:bg-regal-blue-900 focus:bg-regal-blue-950 rounded-md">
                    Suscríbete
                    <img src="../../assets/icons/heroicons-outline/paper-airplane.svg" alt="paper-airplane" class="flex h-5 ps-3">
                </button>
            </div>
            <div class="flex flex-row gap-x-2.5 w-full justify-center md:w-auto items-center grow">
                <a href="#" class="h-8 w-8 justify-center items-center inline-flex rounded-full bg-regal-blue-800 hover:bg-regal-blue-900 active:bg-regal-blue-950 ">
                    <img class="h-4 w-auto" src="../../assets/icons/logo-facebook.svg" alt="">
                </a>
                <a href="#" class="h-8 w-8 justify-center items-center inline-flex rounded-full bg-regal-blue-800 hover:bg-regal-blue-900 active:bg-regal-blue-950 ">
                    <img class="h-4 w-auto" src="../../assets/icons/logo-instagram.svg" alt="">
                </a>
                <a href="#" class="h-8 w-8 justify-center items-center inline-flex rounded-full bg-regal-blue-800 hover:bg-regal-blue-900 active:bg-regal-blue-950 ">
                    <img class="h-4 w-auto" src="../../assets/icons/logo-twitter.svg" alt="">
                </a>
                <a href="#" class="h-8 w-8 justify-center items-center inline-flex rounded-full bg-regal-blue-800 hover:bg-regal-blue-900 active:bg-regal-blue-950 ">
                    <img class="h-4 w-auto" src="../../assets/icons/logo-youtube.svg" alt="">
                </a>
                <a href="#" class="h-8 w-8 justify-center items-center inline-flex rounded-full bg-regal-blue-800 hover:bg-regal-blue-900 active:bg-regal-blue-950 ">
                    <img class="h-4 w-auto" src="../../assets/icons/logo-linkedin.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>