<div class="flex justify-center">
    <div class="flex flex-col my-24 text-center ">
        <p class="text-base font-normal text-regal-blue-600">Nosotros</p>
        <h1 class="text-5xl font-semibold text-regal-blue-950 mt-3">Información sobre la compañía</h1>
        <p class="text-xl font-normal text-woodsmoke-500 mt-6">Aprende más acerca de la empresa y el equipo detrás de
            ella</p>
    </div>
</div>
<div class="bg-flash-white py-24">
    <div class="flex row mx-8 md:mx-20 flex-wrap md:flex-nowrap">
        <div class="flex overflow-hidden justify-center ">
            <img src="../../assets/img/Image.png" alt="" class="h-[560px]  max-w-none">
        </div>
        <div class="flex flex-col md:ps-24 md:py-16 pt-24">
            <p class="text-base font-semibold text-regal-blue-600">Hemos ayudado a muchas compañías a lo largo de estos
                años</p>
            <h2 class="pt-3 text-5xl font-semibold text-smoky-black">Esto solo es el comienzo</h2>
            <div class="grid auto-rows-auto md:grid-rows-2 md:grid-cols-2 gap-8 pt-16">
                <div class="flex flex-col">
                    <h3 class="text-6xl text-regal-blue-800 font-semibold">400+</h3>
                    <p class="pt-3 text-lg font-medium text-smoky-black">Empresas</p>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-6xl text-regal-blue-800 font-semibold">600%</h3>
                    <p class="pt-3 text-lg font-medium text-smoky-black">Crecimiento en 2 años</p>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-6xl text-regal-blue-800 font-semibold">10k</h3>
                    <p class="pt-3 text-lg font-medium text-smoky-black">Préstamos otorgados</p>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-6xl text-regal-blue-800 font-semibold">200+</h3>
                    <p class="pt-3 text-lg font-medium text-smoky-black">Reseñas de 5 estrellas</p>
                </div>
            </div>
        </div>
    </div>

</div>