<div class="bg-primary-900">

    <div class="w-full h-3/4 overflow-hidden absolute z-[1]"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 337.75,149.52 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
    <div class="grid auto-rows-auto grid-cols-2  mx-6 relative z-[2]">
        <div class="col-span-full md:col-span-1 flex items-end md:ms-32 justify-center md:justify-start">
            <h1 class=" text-4xl md:text-[3.5rem] pt-16 md:pt-0 font-semibold text-woodsmoke-950">Nuestro negocio es
                hacer <span class="text-regal-blue-950">crecer el tuyo.</span></h1>
        </div>
        <div class="col-span-full md:row-span-2 md:col-span-1 mt-[3.3125rem] md:mt-0">
            <img src="../../assets/img/pexels-fauxels-3184405.jpg" alt="" srcset="">
        </div>
        <div
            class="col-span-full md:col-span-1 flex items-start md:ms-32 md:mt-6 mt-[5.375rem] justify-center md:justify-start">
            <button type="button"
                class="py-4 px-6 justify-center  inline-flex bg-atlantis-500 text-white md:text-black font-semibold text-base rounded-[1.875rem] 
                hover:bg-atlantis-600 focus:bg-atlantis-700 active:bg-atlantis-700 leading-none focus:outline-4 focus:outline-atlantis-500 active:outline-4 active:outline-atlantis-500">Contacta
                a un asesor
                <img src="../../assets/icons/heroicons-mini/users.svg" alt="" class="flex ps-3 h-4">
            </button>
        </div>
        <div
            class="col-span-full flex flex-col text-red font-semibold text-center text-white mt-[3.3125rem] md:mt-32 lg:mt-[3.3125rem] mb-[8.25rem]">
            <h3 class=" text-2xl md:text-[2.875rem]">Soluciones financieras efectivas</h3>
            <p class="text-sm md:text-xl">Crédito PyME, inversión, paneles solares</p>
        </div>
    </div>

    <div class="mx-6 text-white flex flex-row flex-wrap ">
        <div class="lg:basis-3/4 ">
            <h2 class="w-fit font-semibold text-[2.8125rem]">Liquidez inmediata para <span class="text-atlantis-500">tu
                    negocio.</span></h2>
            <p class="whitespace-normal mt-2.5 font-normal text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Ut et massa
                mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                ultrices mauris.</p>
        </div>
        <div class=" flex flex-row gap-[4.125rem]  items-center mx-auto my-14">
            <button
                class="swiper-button-prev-unique p-6 rounded-full bg-regal-blue-800 hover:bg-regal-blue-900 focus:bg-regal-blue-950 
            active:outline-[3px] active:outline-regal-blue-200 disabled:opacity-75 disabled:outline-none disabled:hover:bg-regal-blue-800">
                <img src="../../assets/icons/heroicons-mini/arrow-long-left.svg" alt="arrow-long-left" class="h-5">
            </button>
            <button
                class="swiper-button-next-unique p-6 rounded-full bg-regal-blue-800  hover:bg-regal-blue-900 focus:bg-regal-blue-950 
            active:outline-[3px] active:outline-regal-blue-200 disabled:opacity-75 disabled:outline-none disabled:hover:bg-regal-blue-800">
                <img src="../../assets/icons/heroicons-mini/arrow-long-right.svg" alt="arrow-long-right" class="h-5">
            </button>
        </div>



    </div>
    <swiper-container class="mx-6 mb-28 md:mb-[9.375rem]" [config]="config" fmSwiper init="false">
        <swiper-slide class="w-fit bg-white flex">
            <mat-card class="pt-5 pb-4 px-[1.125rem] w-[19rem]">
                <mat-card-header class="flex flex-col p-0 border-b border-black">
                    <div class="flex justify-center items-center h-[3.25rem] w-[3.25rem] shadow-md">
                        <img class="h-[1.625rem]" src="../../assets/icons/heroicons-solid/arrow-trending-up.svg"
                            alt="arrow-trending-up">
                    </div>
                    <p class="pt-3.5 pb-3 text-regal-blue-950 font-semibold">CREDITO <span
                            class="text-regal-blue-900">1</span></p>
                </mat-card-header>
                <mat-card-content class="block h-40 p-0 pt-6 text-sm text-woodsmoke-950">Es la solución ideal para
                    tu negocio en crecimiento. Paga deudas, invierte y paga a proveedores al contado. Disponibles
                    más fondos mientras el contrato esté vigente. ¡Solicítalo ahora!</mat-card-content>
                <mat-card-footer class="flex justify-end">
                    <a href="#"
                        class="py-3 px-6 justify-center  inline-flex  text-xs font-medium text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">
                        Más info
                        <img src="../../assets/icons/heroicons-solid/arrow-long-right.svg" alt="arrow-long-right"
                            class="flex ps-3 h-4">

                    </a>
                </mat-card-footer>
            </mat-card>
        </swiper-slide>
        <swiper-slide class="w-fit bg-white flex">
            <mat-card class="pt-5 pb-4 px-[1.125rem] w-[19rem]">
                <mat-card-header class="flex flex-col p-0 border-b border-black">
                    <div class="flex justify-center items-center h-[3.25rem] w-[3.25rem] shadow-md">
                        <img class="h-[1.625rem]" src="../../assets/icons/heroicons-outline/rocket-launch.svg"
                            alt="rocket-launch">
                    </div>
                    <p class="pt-3.5 pb-3 text-regal-blue-950 font-semibold">CREDITO <span
                            class="text-regal-blue-900">2</span></p>
                </mat-card-header>
                <mat-card-content class="block h-40 p-0 pt-6 text-sm text-woodsmoke-950">
                    Es el crédito ideal para tu negocio, con él, puedes obtener capital de trabajo para pagar
                    deudas, hacer inversiones y pagar a proveedores al contado y su pago mensual simple te permite
                    manejarlo fácilmente. ¡Solicítalo ahora!</mat-card-content>
                <mat-card-footer class="flex justify-end">
                    <a href="#"
                        class="py-3 px-6 justify-center  inline-flex  text-xs font-medium text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">
                        Más info
                        <img src="../../assets/icons/heroicons-solid/arrow-long-right.svg" alt="arrow-long-right"
                            class="flex ps-3 h-4">
                    </a>
                </mat-card-footer>
            </mat-card>
        </swiper-slide>
        <swiper-slide class="w-fit bg-white flex">
            <mat-card class="pt-5 pb-4 px-[1.125rem] w-[19rem]">
                <mat-card-header class="flex flex-col p-0 border-b border-black">
                    <div class="flex justify-center items-center h-[3.25rem] w-[3.25rem] shadow-md">
                        <img class="h-[1.625rem]" src="../../assets/icons/heroicons-outline/home-modern.svg"
                            alt="home-modern">
                    </div>
                    <p class="pt-3.5 pb-3 text-regal-blue-950 font-semibold">CREDITO <span
                            class="text-regal-blue-900">3</span></p>
                </mat-card-header>
                <mat-card-content class="block h-40 p-0 pt-6 text-sm text-woodsmoke-950">Si te dedicas al desarrollo
                    inmobiliario el crédito es ideal
                    para ti. Financia tus proyectos de construcción de vivienda con este crédito diseñado
                    especialmente para empresas del sector. ¡Solicítalo ahora y haz realidad tus proyectos
                    inmobiliarios!</mat-card-content>
                <mat-card-footer class="flex justify-end">
                    <a href="#"
                        class="py-3 px-6 justify-center  inline-flex  text-xs font-medium text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">
                        Más info
                        <img src="../../assets/icons/heroicons-solid/arrow-long-right.svg" alt="arrow-long-right"
                            class="flex ps-3 h-4">
                    </a>
                </mat-card-footer>
            </mat-card>
        </swiper-slide>
        <swiper-slide class="w-fit bg-white flex">
            <mat-card class="pt-5 pb-4 px-[1.125rem] w-[19rem]">
                <mat-card-header class="flex flex-col p-0 border-b border-black">
                    <div class="flex justify-center items-center h-[3.25rem] w-[3.25rem] shadow-md">
                        <img class="h-[1.625rem]" src="../../assets/icons/heroicons-outline/building-storefront.svg"
                            alt="building-storefront">
                    </div>
                    <p class="pt-3.5 pb-3 text-regal-blue-950 font-semibold">CREDITO <span
                            class="text-regal-blue-900">4</span></p>
                </mat-card-header>
                <mat-card-content class="block h-40 p-0 pt-6 text-sm text-woodsmoke-950">Forem ipsum dolor sit amet,
                    consectetur adipiscing
                    elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</mat-card-content>
                <mat-card-footer class="flex justify-end">
                    <a href="#"
                        class="py-3 px-6 justify-center  inline-flex  text-xs font-medium text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">
                        Más info
                        <img src="../../assets/icons/heroicons-solid/arrow-long-right.svg" alt="arrow-long-right"
                            class="flex ps-3 h-4">

                    </a>
                </mat-card-footer>
            </mat-card>
        </swiper-slide>

        <swiper-slide class="w-fit bg-white flex">
            <mat-card class="pt-5 pb-4 px-[1.125rem] w-[19rem]">
                <mat-card-header class="flex flex-col p-0 border-b border-black">
                    <div class="flex justify-center items-center h-[3.25rem] w-[3.25rem] shadow-md">
                        <img class="h-[1.625rem]" src="../../assets/icons/heroicons-outline/building-storefront.svg"
                            alt="building-storefront">
                    </div>
                    <p class="pt-3.5 pb-3 text-regal-blue-950 font-semibold">CREDITO <span
                            class="text-regal-blue-900">5</span></p>
                </mat-card-header>
                <mat-card-content class="block h-40 p-0 pt-6 text-sm text-woodsmoke-950">
                    Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
                    interdum, ac aliquet odio mattis.
                </mat-card-content>
                <mat-card-footer class="flex justify-end">
                    <a href="#"
                        class="py-3 px-6 justify-center  inline-flex  text-xs font-medium text-regal-blue-800 hover:text-regal-blue-900 focus:text-regal-blue-950 active:rounded-[1.875rem] active:border-regal-blue-200 border-4 border-transparent">
                        Más info
                        <img src="../../assets/icons/heroicons-solid/arrow-long-right.svg" alt="arrow-long-right"
                            class="flex ps-3 h-4">

                    </a>
                </mat-card-footer>
            </mat-card>
        </swiper-slide>

    </swiper-container>

    <div class="bg-flash-white flex flex-col py-24  items-center">
        <h3 class="max-w-screen-md mx-5 font-semibold text-2xl md:text-5xl leading-[3rem] text-center">Preguntas frecuentes</h3>
        <p class="max-w-screen-md mx-5  mt-6 font-normal text-base leading-6">Tenemos a tu disposición toda la información que necesitas
            conocer, así como también sobre
            el proceso de facturación y pagos. Además, nuestro equipo de atención al cliente está disponible para
            brindarte asesoramiento y resolver
            cualquier duda que puedas tener al respecto</p>

      
        
        <mat-accordion class="mt-12 max-w-screen-md" multi>

            <mat-expansion-panel class="bg-transparent ">
                <mat-expansion-panel-header class="px-4 pt-7  mt-8">
                    <mat-panel-title class="text-primary-900 font-semibold text-lg pe-4 pb-8">
                        ¿Qué productos ofrecen?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="font-normal text-base text-woodsmoke-400 pe-8 ps-4 pb-8">
                    Actualmente, en nuestro portafolio de productos financieros ofrecemos diferentes opciones que se adaptan a las 
                    necesidades de nuestros clientes, entre ellas se encuentran: CREDITO1, CREDITO2, CREDITO3, CREDITO4, y CREDITO5. 
                    Cada uno de estos productos está diseñado para brindar opciones de financiamiento accesibles y adecuadas para cada 
                    situación financiera.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="bg-transparent m-0 p-0">
                <mat-expansion-panel-header class="px-4 pt-7  mt-8">
                    <mat-panel-title class="text-primary-900 font-semibold text-lg pe-4 pb-8">
                        Tiempo estimado para aprobación de crédito solicitado.
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="font-normal text-base text-woodsmoke-400 pe-8 ps-4 pb-8">
                    Nuestro tiempo de respuesta habitual es de 48 horas para asegurarnos de brindar una atención de calidad y cuidadosa en cada una de las solicitudes que recibimos.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="bg-transparent ">
                <mat-expansion-panel-header class="px-4 pt-7  mt-8">
                    <mat-panel-title class="text-primary-900 font-semibold text-lg pe-4 pb-8">
                        ¿Cuál es el plazo estipulado de mi crédito?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="font-normal text-base text-woodsmoke-400 pe-8 ps-4 pb-8">
                    Ofrecemos opciones de crédito con plazos flexibles de hasta 60 meses para que puedas elegir el plan de pago que mejor se adapte a tus necesidades financieras.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="bg-transparent ">
                <mat-expansion-panel-header class="px-4 pt-7  mt-8">
                    <mat-panel-title class="text-primary-900 font-semibold text-lg pe-4 pb-8">
                        ¿Existen costos ocultos asociados a la solicitud de crédito?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="font-normal text-base text-woodsmoke-400 pe-8 ps-4 pb-8">
                    Queremos brindarte tranquilidad financiera, por eso no realizamos ningún tipo de cobro ni solicitamos pagos por adelantado en ninguna etapa del proceso de solicitud de crédito.
                </p>
            </mat-expansion-panel>
            
            <mat-expansion-panel class="bg-transparent ">
                <mat-expansion-panel-header class="px-4 pt-7  mt-8">
                    <mat-panel-title class="text-primary-900 font-semibold text-lg pe-4 pb-8">
                        ¿Cuánto tiempo lleva operando PREMO?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="font-normal text-base text-woodsmoke-400 pe-8 ps-4 pb-8">
                    Somos una Institución Financiera con una trayectoria con más de 10 años en el mercado, lo que nos permite ofrecerte no solo respaldo, sino también un asesoramiento experto en todo 
                    momento para que puedas tomar la mejor decisión financiera.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="bg-transparent ">
                <mat-expansion-panel-header class="px-4 pt-7  mt-8">
                    <mat-panel-title class="text-primary-900 font-semibold text-lg pe-4 pb-8">
                        ¿La tasa de interés ofrecida es fija o variable?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="font-normal text-base text-woodsmoke-400 pe-8 ps-4 pb-8">
                    Para brindarte estabilidad financiera, te ofrecemos una tasa de interés fija que se mantendrá invariable durante todo el plazo de financiamiento, lo que significa que podrás tener un mejor control sobre tus pagos mensuales y presupuestar de manera más efectiva.
                </p>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>